USE [DthK22CNT4Lesson11Db]
GO
/****** Object:  Table [dbo].[DthCategory]    Script Date: 7/4/2024 11:05:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DthCategory](
	[DthID] [int] IDENTITY(1,1) NOT NULL,
	[DthCateName] [nvarchar](50) NULL,
	[DthStatus] [bit] NULL,
 CONSTRAINT [PK_DthCategory] PRIMARY KEY CLUSTERED 
(
	[DthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DthProduct]    Script Date: 7/4/2024 11:05:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DthProduct](
	[DthId] [nvarchar](50) NOT NULL,
	[DthProName] [nvarchar](50) NULL,
	[DthQty] [int] NULL,
	[Dthprice] [float] NULL,
	[DthCateId] [int] NULL,
	[DthActive] [bit] NULL,
 CONSTRAINT [PK_DthProduct] PRIMARY KEY CLUSTERED 
(
	[DthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DthCategory] ON 

INSERT [dbo].[DthCategory] ([DthID], [DthCateName], [DthStatus]) VALUES (1, N'2210900028', 1)
INSERT [dbo].[DthCategory] ([DthID], [DthCateName], [DthStatus]) VALUES (2, N'Iphone', 0)
SET IDENTITY_INSERT [dbo].[DthCategory] OFF
GO
INSERT [dbo].[DthProduct] ([DthId], [DthProName], [DthQty], [Dthprice], [DthCateId], [DthActive]) VALUES (N'2210900028', N'Đàm Thúy Hường', 10, 100000, 1, 1)
INSERT [dbo].[DthProduct] ([DthId], [DthProName], [DthQty], [Dthprice], [DthCateId], [DthActive]) VALUES (N'P001', N'Iphone 15 Pro Max', 1, 2000, 1, 1)
GO
ALTER TABLE [dbo].[DthProduct]  WITH CHECK ADD  CONSTRAINT [FK_DthProduct_DthCategory] FOREIGN KEY([DthCateId])
REFERENCES [dbo].[DthCategory] ([DthID])
GO
ALTER TABLE [dbo].[DthProduct] CHECK CONSTRAINT [FK_DthProduct_DthCategory]
GO
