USE [DthK22CNT4Lesson10Cb]
GO
/****** Object:  Table [dbo].[DthAccount]    Script Date: 7/3/2024 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DthAccount](
	[DthId] [int] IDENTITY(1,1) NOT NULL,
	[DthUserName] [nvarchar](50) NULL,
	[DthPassword] [nvarchar](50) NULL,
	[DthFullName] [nvarchar](50) NULL,
	[DthEmail] [nvarchar](50) NULL,
	[DthPhone] [nvarchar](50) NULL,
	[DthActive] [bit] NULL,
 CONSTRAINT [PK_DthAccount] PRIMARY KEY CLUSTERED 
(
	[DthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DthAccount] ON 

INSERT [dbo].[DthAccount] ([DthId], [DthUserName], [DthPassword], [DthFullName], [DthEmail], [DthPhone], [DthActive]) VALUES (1, N'ThuyHuong', N'123456789@', N'Đàm Thúy Hươngd', N'thuyhuong31804@gmail.com', N'0962169464', 1)
INSERT [dbo].[DthAccount] ([DthId], [DthUserName], [DthPassword], [DthFullName], [DthEmail], [DthPhone], [DthActive]) VALUES (2, N'MinhPhuong', N'12345@@', N'Nguyễn Minh Phương', N'minhphuong@gmail.com', N'0925254545', 0)
SET IDENTITY_INSERT [dbo].[DthAccount] OFF
GO
