@{
    ViewBag.Title = "Đàm Thúy Hường";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        K22CNT4 - Lớp học phát triển ứng dụng WEB với công nghệ .NET
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Sinh viên:</strong> <a href="mailto:thuyhuong31804@gmail.com">thuyhuong31804@gmail.com</a>
</address>
</main>